@import
"https://fonts.googleapis.com/css?family=Lato:300,400,900";
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #fcfcfc;
    background-color: #355664;
    width: 960px;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family:
    forte,Arial,sans-serif;}
h1 {
    font-size: 50px;
    padding: 10px 0 0;
    text-align: center;
    text-transform: uppercase}
h2 {
    font-size: 40px;
    letter-spacing: 15px;
    text-align: center;
