body{
    font-family: Arial;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid gray;
    padding: 20px;
    width: 350px;
}

input{
    padding: 8px;
}

#strength{
    font-weight: bold;
}
